@import url(fonts.css);

* {
  box-sizing: border-box;
}

h1 {
  font-family: "Lexend", sans-serif;
  margin: 0;
  font-weight: bolder;
}

hr {
  border: 1px solid hsl(46, 6%, 47%);
  width: 75%;
}

hr:first-of-type {
  width: 100%;
  margin-top: 0.5rem;
}

.container {
  color: hsl(0, 0%, 13%);
  background-color: hsl(47, 100%, 98%);
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#fontPicker {
  margin: 0.5rem 0 1rem 0;
}

#weightDiv {
  margin-bottom: 1rem;
} 

#slantDiv {
  margin-top: 0.9rem
}

#weightMenu,
#slantMenu {
  display: flex;
  align-items: flex-start;
}

#slantMenu {
  width: fit-content;
  margin: 0 auto;
}

.fontStyling hr {
  width: 75%;
  margin: 0 auto;
}

#clearButton {
  background-color: hsl(0, 0%, 13%);
  border-radius: 4px;
  margin-top: 1em;
  border-style: none;
  color: hsl(47, 100%, 98%);
  cursor: pointer;
  display: inline-block;
  max-width: none;
  padding: 0.5rem 0 0.3rem 0;
  position: relative;
  width: 100%;
}

#clearButton:focus, #clearButton:hover {
  background-color: hsl(0, 0%, 15%);
}

#clearButton:active {
  background-color: hsl(0, 0%, 29%);
}

.fontStyling label {
  margin-right: 1rem;
}

.fontStyling input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid hsl(46, 6%, 47%);
  margin-right: 0.5rem;
  position: relative;
  top: 0.2rem;
}

.fontStyling input:checked {
  border: 5px solid hsl(0, 0%, 13%);
}

.select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
  border: 2px solid hsl(0, 0%, 13%);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  cursor: pointer;
  line-height: 1.5;
  background-color: hsl(0, 0%, 13%);
}

.select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  width: 100%;
  color: hsl(47, 100%, 98%);
  cursor: inherit;
  line-height: inherit;
  z-index: 1;
  outline: none;
}

.select::after {
  content: "";
  justify-self: end;
  width: 0.8em;
  height: 0.5em;
  background-color: hsl(46, 6%, 47%);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

.select select,
.select::after {
  grid-area: select;
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}
.material-icons.md-light {
  color: rgb(255, 255, 255);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}